.calzoneItemCardBg {
  background-color: var(--secondary-color);
  color: #ffffff;
  margin-bottom: 15px;
}
.calzoneItemImageBg {
  /* background-color: blue; */
  width: 100%;
  height: auto;
}

@media (min-width: 410px) {
  .calzoneItemCardBg {
    width: 370px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
  }
  .calzoneItemImageBg {
    height: 160px;
  }
}

@media (min-width: 665px) {
  .calzoneItemCardBg {
    width: 305px;
  }
}
@media (min-width: 750px) {
  .calzoneDescription {
    font-size: 13px;
  }
}

@media (min-width: 950px) {
  .calzoneItemCardBg {
    width: 400px;
  }
  .calzoneDescription {
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  .calzoneItemCardBg {
    width: 350px;
  }
}

@media (min-width: 1150px) {
  .calzoneItemCardBg {
    width: 365px;
  }
}
