.calzoneItemCardBg {
  /* background-color: var(--secondary-color); */
  background-color: #151b4b;
  background-color: -webkit-linear-gradient(to bottom, #151b4b, #141e30);
  background-color: linear-gradient(to bottom, #151b4b, #141e30);
  border-radius: 2%;
  color: #ffffff;
  margin-bottom: 15px;
}

.calzoneItemImageBg {
  /* background-color: blue; */
  width: 100%;
  height: auto;
}

@media (min-width: 410px) {
  .calzoneItemCardBg {
    width: 370px;
    height: 160px;
    margin-left: auto;
    margin-right: auto;
  }
  .calzoneItemImageBg {
    height: 160px;
  }
  .calzoneDescription {
    font-size: 14px;
  }
}

@media (min-width: 665px) {
  .calzoneItemCardBg {
    width: 305px;
  }
  .calzoneDescription {
    font-size: 13px;
  }
}

@media (min-width: 950px) {
  .calzoneItemCardBg {
    width: 400px;
  }
  .calzoneDescription {
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  .calzoneItemCardBg {
    width: 320px;
  }
  .calzoneDescription {
    font-size: 14px;
  }
}

@media (min-width: 1150px) {
  .calzoneItemCardBg {
    width: 365px;
  }
  .calzoneDescription {
    font-size: 16px;
  }
  .circuloCalzone {
    margin-top: 10px;
  }
}

@media (min-width: 1350px) {
  .calzoneItemCardBg {
    width: 425px;
  }
}
