.pizzaDiv {
  margin: 10px 20px 10px 20px;
}
.itemCardBg {
  background-color: var(--secondary-color);
  color: var(--theme-color);
  margin-bottom: 15px;
}
.itemCardBgVertical {
  background-color: var(--secondary-color);
  color: var(--theme-color);
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: auto;
}
.itemTitulo {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.itemTituloVertical {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}
.itemDescription {
  font-size: 14px;
}
.itemDescriptionVertical {
  font-size: 15px;
}
.itemImageBg {
  width: 100%;
  height: auto;
}
.itemImageBgVertical {
  margin: 0%;
  width: 100%;
  height: auto;
}
.itemImage {
  width: 100%;
  height: 100%;
  padding: 13px 0px 13px 13px;
  background-repeat: no-repeat;
}
.itemImageVertical {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
}
.itemDescriptionBg {
  /* background-color: coral; */
  padding: 10px;
  text-align: center;
}
.itemDescriptionBgVertical {
  /* background-color: coral; */
  margin: 0%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.circuloBg {
  /* background-color: crimson; */
  padding: 0px;
  width: 100%;
  height: auto;
}
.circuloNoDescriptionBg {
  /* background-color: crimson; */
  padding: 0px;
  margin-top: -15px;
  width: 100%;
  height: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}
.circulo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #29b606;
  margin: 20px 0px 0px -10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.circuloVertical {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #29b606;
  margin: 10px 0px 0px 10px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.itemPrice {
  /* background-color: cyan;   */
  color: #000000;
  margin-top: 12px;
  font-weight: bold;
}
.itemPriceVertical {
  /* background-color: cyan;   */
  color: #000000;
  margin-top: 12px;
  font-weight: bold;
  font-size: 17px;
}

@media (min-width: 410px) {
  /* Section Pizza */
  .itemCardBg {
    width: 370px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
  }
  .itemTitulo {
    font-size: 19px;
  }
  .itemDescription {
    font-size: 15px;
  }
  .itemImageBg {
    height: 170px;
  }
  .itemTituloVertical {
    font-size: 24px;
  }
  .itemDescriptionVertical {
    font-size: 16px;
  }
  .circuloVertical {
    width: 60px;
    height: 60px;
    margin: 10px 0px 0px 20px;
  }
  .itemPriceVertical {
    margin-top: 17px;
    font-size: 18px;
  }
}
@media (min-width: 550px) {
  .itemCardBgVertical {
    display: flex;
  }
  .itemImageBgVertical {
    width: 50%;
    margin: 0%;
  }
  .itemDescriptionBgVertical {
    width: 50%;
    margin: 0%;
  }
  .itemDescriptionVertical {
    font-size: 17px;
  }
  .circuloVertical {
    margin: 40px 0px 0px -10px;
  }
}

@media (min-width: 665px) {
  /* Section Pizza */
  .pizzaSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 1em;
  }
  .itemCardBg {
    width: 305px;
    height: 150px;
  }
  .itemTitulo {
    font-size: 16px;
  }
  .itemDescription {
    font-size: 13px;
  }
  .itemDescriptionAux {
    font-size: 12px;
  }
  .itemImageBg {
    height: 150px;
  }
  .circuloVertical {
    margin: 20px 0px 0px -10px;
  }
}

@media (min-width: 750px) {
  /* Section Pizza */
  .pizzaDiv {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .itemCardBg {
    width: 350px;
    height: 170px;
  }
  .itemTitulo {
    font-size: 18px;
  }
  .itemDescription {
    font-size: 14px;
  }
  .itemImageBg {
    height: 170px;
  }
  .itemTituloVertical {
    font-size: 30px;
  }
  .itemDescriptionVertical {
    font-size: 18px;
  }
  .circuloVertical {
    width: 70px;
    height: 70px;
    margin: 10px 0px 0px -10px;
  }
  .itemPriceVertical {
    margin-top: 18px;
    font-size: 20px;
  }
}

@media (min-width: 950px) {
  /* Section Pizza */
  .itemCardBg {
    width: 400px;
  }
  .itemTitulo {
    font-size: 20px;
  }
  .itemDescription {
    font-size: 17px;
  }
  .itemDescriptionAux {
    font-size: 16px;
  }
  /* Section Circulo */
  .circulo {
    width: 55px;
    height: 55px;
  }
  .itemPrice {
    font-size: 17px;
  }
  .itemTituloVertical {
    font-size: 35px;
  }
  .itemDescriptionVertical {
    font-size: 23px;
  }
  .circuloVertical {
    margin: 10px 0px 0px 0px;
  }
  .itemPriceVertical {
    font-size: 22px;
  }
  .itemImageVertical {
    height: 300px;
  }
}

@media (min-width: 1025px) {
  /* Section Pizza */
  .pizzaSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 1em;
  }
  .itemCardBg {
    width: 320px;
  }
  .itemTitulo {
    font-size: 18px;
  }
  .itemDescription {
    font-size: 14px;
  }
  .itemTituloVertical {
    font-size: 38px;
  }
  .itemDescriptionVertical {
    font-size: 29px;
  }
  .circuloVertical {
    width: 75px;
    height: 75px;
    margin: 20px 0px 0px 10px;
  }
  .itemPriceVertical {
    font-size: 25px;
  }
  .itemImageVertical {
    height: 350px;
  }
}
@media (min-width: 1150px) {
  /* Section Pizza */
  .itemCardBg {
    width: 365px;
    height: 190px;
  }
  .itemTitulo {
    font-size: 20px;
  }
  .itemDescription {
    font-size: 17px;
  }
  .itemImageBg {
    height: 190px;
  }
  /* Section Circulo */
  .circulo {
    width: 60px;
    height: 60px;
  }
  .itemPrice {
    font-size: 19px;
  }
  .itemTituloVertical {
    font-size: 45px;
  }
  .itemDescriptionVertical {
    font-size: 30px;
  }
  .circuloVertical {
    width: 90px;
    height: 90px;
    margin: 30px 0px 0px 0px;
  }
  .itemPriceVertical {
    margin-top: 20px;
    font-size: 32px;
  }
  .itemImageVertical {
    height: 400px;
  }
}

@media (min-width: 1350px) {
  .itemCardBg {
    width: 425px;
    height: 200px;
  }
  .itemTitulo {
    font-size: 22px;
  }
  .itemDescription {
    font-size: 20px;
  }
  .itemImageBg {
    height: 200px;
  }
  .itemTituloVertical {
    font-size: 45px;
  }
  .itemDescriptionVertical {
    font-size: 35px;
  }
  .circuloVertical {
    width: 100px;
    height: 100px;
    margin: 40px 0px 0px 10px;
  }
  .itemPriceVertical {    
    font-size: 35px;
  }
}

@media (min-width: 1550px) {
  .itemTituloVertical {
    font-size: 52px;
  }
  .itemDescriptionVertical {
    font-size: 38px;
  }
  .circuloVertical {
    width: 110px;
    height: 110px;
    margin: 20px 0px 0px 20px;
  }
  .itemPriceVertical {    
    font-size: 40px;
  }
}
